Redirect 301 /about /about.html
Redirect 301 /contact /contact.html
Redirect 301 /contests /contests.html
Redirect 301 /registration /registration.html
Redirect 301 /camping /camping.html
Redirect 301 /schedule /schedule.html
Redirect 301 /support /support.html
Redirect 301 /faq /faq.html